.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: BlueViolet;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn {
  margin-left: 20px;
  border: none;
  background-color: Lavender;
  border-radius: 5%;
  padding: 5px;
}

.form {
  margin-left: auto;
}

.input {
  width: 250px;
}

.input::placeholder {
  text-align: center;
}
